.year {
  font-size: 2rem;
  color: var(--element4);
  text-align: start;
  margin-bottom: 1.125rem;
}

@media screen and (max-width: 600px) {
  .year {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
}
