.cd {
  margin-top: 20px;
  margin-bottom: 40px;
}

.link {
  font-size: 16px;
  color: var(--element2);
  border-bottom: 1px solid  var(--element2);
}

.link:hover {
  color: var(--element3);
  border-color: var(--element3);
}
