.footer {
  text-align: start;
  margin: 60px 0;
  color: var(--element8);
  font-size: 1rem;
}

.cc {
  margin-bottom: 2px;
}


@media screen and (max-width: 600px) {
  .footer {
    text-align: center;
  }
}
