.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--element3);
  margin-bottom: 15px;
}

.date {
  font-size: 15px;
  color: var(--element4);
  transition: 0.3s;
  margin: 5px 0;
  text-align: start;
}
