.plain {
  font-size: 1.125rem;
  color: var(--element1);
}

.stress {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--element3);
}


.textLink {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--element3);
  border-bottom: 1px solid  var(--element8);
}